body, .btn {
	font-family: 'Open Sans';
}

.response {
	margin-bottom: 10px;
	font-style: italic;
}

body {
	font-size: 18px;
	background-size: cover;
}

.dialog-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1;
}

.dialog {
	height: 80%;
	top: 25%;
	position: absolute;
	width: 700px;
	z-index: 1000;
	left: 0;
	right: 0;
	margin: auto;
}

label {
	font-weight: normal !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.input-group {
	display: block;
	margin-bottom: 10px;
}

form {
	margin: 0;
}


.line {
	border-bottom: 1px solid #999;
	width: 100%;
	position: relative;
	margin: 15px 0;
	display: none;
}

.line-text {
	color: #333;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: -10px;
	text-align: center;
}

.line-text span {
	background: white;
	padding: 0 20px;
	font-weight: 700;
}

input[type=email], input[type=text] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 2px solid #ddd;
}

input[type=email]:focus, input[type=text]:focus {
	box-shadow: none;
	border-color: #245C7F;
	outline: none;
}

input[type=radio] {
	display: none;
}

input[type=radio] + label {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 5px 0;
	width: 100%;
	transition: all 0.1s ease;
}

.col-result-medal, .col-result-content {
	float: left;
}

.col-result-medal {
	width: 21%;
}

.col-result-content {
	width: 79%;
}

#result-medal {
	background: url(../img/medal.png);
	//height: 140px;
	width: 100px;
	width: 100%;
	padding-bottom: 140%;
	height: 0;
	background-size: cover;
}

#result-medal.bronze{
	background-position: 120px
}

#result-medal.silver{
	background-position: center;
}

#result-medal.gold{
	background-position: -2px
}

input[type=radio] + label:hover {
	background: #eee;
}

.btn-close {
	display: block;
	font-size: 16pt;
	position: absolute;
	top: -9pt;
	right: -9pt;
	width: 18pt;
	height: 18pt;
	color: white;
	line-height: 15pt;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	cursor: pointer;
	background: black;
	border: 2pt solid white;
	-webkit-border-radius: 18pt;
	-moz-border-radius: 18pt;
	border-radius: 18pt;
	padding-top: 0px;
	padding-left: 4px;
}

.btn-close:hover {
	color: #FFF;
}

.text-danger {
	color: #ED3237 !important;
}

input[type=radio]:checked + label {
	border-color: rgba(33, 33, 33, 0);
	background: #ddd;
}

.dialog-title {
	background: #FFF;
	padding: 15px 40px;;
	border: 15px solid white;
	border-bottom: none;
}

.dialog-body {
	padding: 55px;
	padding-top: 0px;
	max-height: 90%;
	overflow-x: hidden;
	overflow-y: scroll;
	background: white;
	//border: 5px solid white;
}

.main-section {
	//width: 1180px !important;
	padding: 15px;
	background: rgba(10, 10, 10, 0.8);
	position: relative;
}

.main-section-content {
	background: white;
	padding: 15px;
}

.footer-section {
	padding-bottom: 15px;
}

.price-tag {
	position: absolute;
	right: 0;
	top: 0;
	background: #333;
	padding: 10px;
	color: white;
	font-size: 24px;
}

.test-section {
	font-size: 20px;
	height: 95px;
	background: #333;
	color: white;
	position: relative;
	margin-bottom: 10px;
}

.test-section .col-btn {
	padding: 0;
}

.test-section .col-text {
	padding: 10px;
}

.btn-test {
	width: 100%;
	font-size: 20px;
	border-radius: 0;
	height: 100%;
	background-image: url(../img/test-backgroud-short.png) !important;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	padding-left: 80px;
}

.btn-danger {
	background-color: #ED3237;
}

.read-btn {
	font-size: 18px;
	font-family: 'Lato';
	padding: 10px 0;
	background: #00AFEF;
	border: 2px solid #1B7292;
	color: white;
	margin-top: 20px;
	width: 100%;
	transition: all 0.1s ease;
}

.read-btn:hover, .read-btn:focus {
	background: #1B7292;
}

.clear {
	clear: both;
}

h1 {
	font-size: 54px;
	//color: #C0392B !important;
	margin-bottom: 10px;
	margin-top: 30px;
	line-height: 1.1em;
}

h2 {
	font-size: 27px;
	//background: #333;
	display: inline-block;
	//color: white;
	//padding: 10px;
	margin-top: 0px;
}

h2.black {
	//background: #333;
}

h2.silver {
	background: #ddd;
	color: #333;
	padding: 10px;
}

.col-main {
	width: 666px;
	float: left;
}

.script {
	font-family: 'Slabo 27px';
}

.no-margin {
	margin: 0;
}

.author-section {
	background: #ccc;
}

.col-right{
	float: left;
	padding-left: 20px;
	width: 333px;
}

.black-section {
	background: rgba(10, 10, 10, 0.8);
	color: white;
}

h2 {
	font-weight: 300;
}

img {
	max-width: 100%;
}

.profile {
	//background: rgba(231,76,60, 0.8);
	padding: 10px;
}

#logo {
	width: 300px;
	margin: 30px 0;
}

.no-padding {
	padding: 0;
}

.container {
	width: 1100px;
	margin: auto;
}

.content-box {
	position: relative;
}

.content-heading {
	font-size: 18px;

	background: #eee;
	color: white;
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid #1B7292;
	border-bottom: none;
	position: absolute;
	top: -42px;
	display: none;
}

.content-notice {
	font-size: 18px;
	background: #00AFEF;
	color: white;
	padding: 20px;
	line-height: 1.4em;
}

.content-body {
	background: #eee;
	border: 2px solid #00AFEF;
	padding: 20px;
}

.btn-test:focus {
	background-color: #ac2925;

}

#mc_embed_signup input.mce_inline_error { border-color:#ED3237 !important; }
#mc_embed_signup div.mce_inline_error {
	background-color: rgba(237, 50, 55, 0.5) !important;
	font-weight: normal !important;
	z-index: 1; color: #333 !important;
	margin-top: -5px;
}

.primary-nav {

}

.primary-menu {
	text-align: center;
}

li.menu-item {
	display: inline;
	text-decoration: none;
	padding-right: 20px;
}

li.menu-item a {
	padding: 20px 15px;
	display: inline-block;
	text-transform: uppercase;
}

li.menu-item a:hover {
	text-decoration: none;
}

.banner {
	background-color: #245C7F;
	height: 150px;
	color: #FEFEFE;
	text-align: center;
}

.title-section {
	font-weight: lighter;
	font-size: 28px;
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: "Roboto Slab", serif;
}

.title-section a {
	color: #FFF;
	text-decoration: underline;
}

.hero {
	background-image: url(../img/heroBackground.jpg);
	height: 540px;
	padding-top: 50px;
}

.hero .book-cover {
	text-align: center;
}

.hero .book-details {
	color: #FEFEFE;
}

.hero .book-details .title {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bolder;
	margin-top: 40px;
	margin-bottom: 30px;
}

.hero .book-details .subtitle {
	margin-top: 20px;
	font-size: 23px;
	font-weight: 300;
	font-family: 'Roboto Slab', serif;
	color: #DDD;
}

.hero .book-details .description {
	margin-top: 20px;

}

.hero .book-details .cta {
	margin-top: 20px;
}

.cta-button {
	background-color: transparent;
	border: 1px solid #fff;
	clear: both;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 3px;
	margin-top: 20px;
	padding: 20px 40px;
	text-transform: uppercase;
	width: auto;
	transition: background-color 0.1s ease, border-color 0.1s ease;
}

.cta-button:hover {
  text-decoration: none;
	color: #FFF;
	background-color: #245C7F;
	border-color:  #245C7F;
}

.popup-cta-description {
	font-size: 26px;
	margin-bottom: 30px;
	line-height: 40px;
}

#mc_embed_signup_scroll {
		padding-left: 80px;
		padding-right: 80px;
}

.btn-join {
		background-color: #245C7F;
		width: 100%;
		border-radius: 0px;
		color: #FFF;
		padding: 10px 20px;
		font-size: 26px;
}

.btn-join:hover, .btn-join:focus {
	color: #FFF;
	background-color: #346C8F;
}

.footer-section {
	background-color: #03202C;
	height: 60px;
	color: #FFF;
	padding-top: 20px;
}

.content-blur {
	font-size: 30px;
	padding: 100px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

.content-section {
	padding: 30px;
	border-top: 1px solid #CCC;
}

.content-section.alternative {
	background-color: #f5f5f5;
}

.resource-title, .bonus-title {
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 38px;
	color: #346C8F;
	text-align: center;
}

ul.item-list {
	list-style-type: circle;
	padding-left: 40px;
	line-height: 30px;
}

.bonus-description {
	margin-bottom: 20px;
	text-align: center;
}

.next-book {
	font-size: 30px;
	margin-top: 80px;
	display: block;
}

.next-book-date {
	margin-top: 40px;
	margin-bottom: 20px;
}

#mc_embed_signup_scroll.bonus-form {
	padding-left: 160px;
	padding-right: 160px;
}

.testimonial-container {
	background-color: white;
	padding: 60px;
	margin-top: 30px;
	border-radius: 4px;
	border: 1px solid #DDD;
}

.testimonial-container .testimonial-text {
	font-family: 'Roboto Slab', serif;
	font-size: 26px;
	margin-bottom: 20px;
}

.testimonial-container .testimonial-author {
	font-weight: bold;
	color: #346C8F;
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;
	opacity: 0.8;
}

.quote-icon {
	height: 60px;
  position: absolute;
  margin-left: -45px;
  margin-top: -50px;
  opacity: 0.3;
}

.upcoming-container {
	background-color: #EEE;
	border: 1px solid #DDD;
	padding: 30px;
}

.upcoming-container h2 {
	color: #346C8F;
	display: block;
	margin-top: 20px;
}

.upcoming-container .title {
	font-weight: bold;
}

.upcoming-container .date {
	color: #333;
}

.past-container {
	background-color: #346C8F;
	border: 1px solid #DDD;
	padding: 30px;
}

.past-container h2 {
	color: #FFF;
	display: block;
	margin-top: 10px;
}

.past-container .title {
	font-weight: bold;
}

.past-container .date, .past-container a, .past-container a:hover {
	color: #FFF;
}
